.table{

    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

.header{
   
    text-align: center;
}
.first-col{
    background-color: #EEEEEE;
    text-align: center;
  
}
.c21-col{
    background-color: #7EE5DA;
    width: 37%;
    text-align: center;
}
.c22-col{
    background-color: #70CCC2;
    text-align: center;

    
}
.c23-col{
    background-color:#62B3AA;
    text-align: center;
  
    
}
